<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.credeva.rqconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="id.credeva.rqconnect.RqconnectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="id.credeva.rqconnect.ui.payment.evidence.BuktiPembayaranActivity" />
        <activity android:name="id.credeva.rqconnect.ui.payment.paymentConfirmation.ConfirmActivity" />
        <activity android:name="id.credeva.rqconnect.ui.payment.paymentSelection.PilihPembayaranActivity" />
        <activity android:name="id.credeva.rqconnect.ui.gallery.detail.GalleryDetailActivity" />
        <activity android:name="id.credeva.rqconnect.ui.gallery.GalleryActivity" />
        <activity android:name="id.credeva.rqconnect.ui.article.DetailArticleActivity" />
        <activity android:name="id.credeva.rqconnect.ui.home.HomeActivity" />
        <activity android:name="id.credeva.rqconnect.ui.article.ArticleActivity" />
        <activity android:name="id.credeva.rqconnect.ui.auth.LoginActivity" />
        <activity android:name="id.credeva.rqconnect.ui.payment.checkout.CheckoutActivity" />
        <activity android:name="id.credeva.rqconnect.ui.payment.PembayaranActivity" />
        <activity android:name="id.credeva.rqconnect.ui.tahfidz.TahfidzActivity" />
        <activity android:name="id.credeva.rqconnect.ui.main.MainActivity" />
        <activity android:name="id.credeva.rqconnect.ui.introslider.IntroSliderActivity" />
        <activity android:name="id.credeva.rqconnect.ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>